/.vscode

/multithread_sort/multithread_sort.ilk
/multithread_sort/multithread_sort.obj
/multithread_sort/multithread_sort.pdb
/multithread_sort/vc140.pdb

/scheduling/scheduling.ilk
/scheduling/scheduling.obj
/scheduling/scheduling.pdb
/scheduling/vc140.pdb